.row{
    margin: 0px !important;
}
body{
    background: #fafafa !important;
}
.login{
    width: 50%;
    margin: auto;
    height: auto;
}
#header{
    height: 70px;
    background: #4d81ed;
}
#header input{
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 40px;
    margin-top: 15px;
    outline: none;
    padding-left: 15px;
}
#header img{
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}
#menu ul{
    z-index: 2;
    display: none;
    width: 200px;
    background: #f5f5f5;
    margin-bottom: 0px;
    left: 0px;
    position: absolute;
}
#menu:hover ul{
    display: block;
}
#menu ul li:hover{
    background: #eeeeee;
}
#menu ul a{
    text-decoration: none;
}
#menu ul li{
    list-style-type: none;
    color: #000;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
}
/*#menu:hover ul{
    display: block;
    width: 200px;
    height: auto;
}*/
#header #menu{
    position: relative;
    font-size: 15px;
    padding: 0px 8px;
    line-height: 70px;
    color: #fff;
}
#header #menu:hover{
    background: #1c5de4;
}

#header a{
    color: #fff;
    line-height: 70px;
}
#slide{
    background: #d9edf7;
    width: 100%;
    height: 500px;
}
#slide img{
    padding: 10px 0px;
    height: 500px;
}
.carousel-control.left, .carousel-control.right{
    background-image: none !important; 
}
.document-image{
    position: relative;
    width: 100%;
    height: 240px;
}
.list-document{
    padding: 0px 8px !important;
}
.document-image table{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 0px;
    height: 30px;

}
.document-image img:hover{
    opacity: 0.8;
}
#content .document-image img{
    width: 100%;
    height: 240px;
}
.name{
    padding: 5px 0px;
    height: auto;
}
.name a{
    font-size: 17px;
    color: #333;
    
}
.name a:hover{
    color: #4d81ed;
    text-decoration: none;
}
.name table{
    width: 100%;
    color: #727272;
}
.name p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dicription{
    background: #fff;
    width: 100%;
    height: auto;
    border: 1px solid #e5e5e5;
    padding: 15px;
}
.dicription h3{
    margin: 0px;
}

